<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carusel Component</title>
    <link rel="stylesheet" href="05-hero-section.css" />

    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!--  -->
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>LOGO</li>
          <li>NAVIGATION</li>
        </ul>
      </nav>
      <header>
        <h1>
          A healthy meal<br />delivered to your door,<br />
          single day
        </h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
          sequi nesciunt, adipisci quam, explicabo dolor aliquid, quidem
          excepturi nobis ea odit
        </p>
        <a href="#">Sart eating well</a>
      </header>
    </div>
  </body>
</html>
